<div class="container">
  <h3>Store and sync app data in milliseconds</h3>
  <span>
    <i class="fa fa-times"></i>
  </span>
  <div class="row">
    <div class="col-md-5 offset-1">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/content1.png" alt="" />
      </div>
      <div class="card-header">
        <h4>Authentication</h4>
        <p>Authenticate and manage users</p>
      </div>
    </div>

    <div class="col-md-5 offset-1">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/content2.png" alt="" />
      </div>
      <div class="card-header2">
        <h4>Cloud Firestore</h4>
        <p>Realtime updates,powerful queries,and automatic scaling</p>
      </div>
    </div>
  </div>
</div>
