<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <app-header></app-header>

  <div>
    <p class="demo-text">demo</p>
  </div>

  <div>
    <button class="btn btn-primary spark-plan">Spark plan</button>
  </div>

  <div>
    <p class="body-text">
      Get started by adding Firebase to your app
    </p>
  </div>

  <a href="#" class="anchors">
    <div class="icons">
      <span><i class="fa fa-android"></i></span>
    </div>
  </a>
  <a href="#" class="anchors">
    <div class="icons2">
      <span><i class="fa fa-globe"></i></span>
    </div>
  </a>

  <a href="#" class="anchors">
    <span class="specialline">|</span>
    <div class="icons3">
      <span><i class="fa fa-apple"></i></span>
    </div>
  </a>

  <a href="#" class="anchors">
    <div class="icons4">
      <span><img class="unity" src="../../assets/img/unity.png"/></span>
    </div>
  </a>

  <div class="getstarted">
    <p>Add an app to get started</p>
  </div>
  <body>
    <img
      src="../../assets/img/backgroud.png"
      style="width: 100% !important; height: 530px; background: #1a73e8;"
    />

    <app-contents></app-contents>
  </body>
</html>
